.ui-header {
	height: 100px;
	background: #000;
	color: #fff;
	position: relative;
}

.ui-header h1 {
	padding: 10px 5px 0;
}

.ui-header p {
	padding: 0;
}

.ui-header-right {
	width: 200px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;
}

.ui-header-right button {
	padding: 5px;
	color: black;
}